@import url(global.css);

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
header {
  position: relative;
  width: 80%;
  display: flex;
  flex-direction: row;
  padding: 1em;
  justify-content: space-around;
  #logocont {
    min-width: 36%;
    display: flex;
    justify-content: center;
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      img {
        width: 20%;
      }
    }
  }
  #socialmedia {
    display: flex;
    width: 22%;
    justify-content: center;
    align-items: center;
    &:hover {
      img:hover {
        transform: scale(1.1);
        transition: var(--transition);
      }

      cursor: pointer;
    }
  }
  #header-spacer {
    min-width: 22%;
    justify-content: center;
  }
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1em;

  .products {
    display: flex;
    width: 80%;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 2em;
    background-color: var(--af-white);
    border: solid var(--night) 15px;
    align-self: center;
    justify-self: center;
    .product {
      display: flex;
      flex-direction: column;
      background-color: var(--night);
      color: var(--madder);
      width: 40%;
      margin: 1em;
      padding: 2em;
      border-radius: 25px;
      box-shadow: -5px 7px 10px rgba(3, 3, 3, 0.497); 
      .product-desc {
        font-size: x-large;
      }
      .product-setdesc {
        color: var(--af-white);
        margin-top: 1em;
        font-size: small;
      }

      &.POK {
        font-family: var(--pok-bold);
      }
      &.LOR {
        font-family: var(--lor);
        letter-spacing: 0.05em;
      }

      &.MTG {
        font-family: var(--magic-card);
      }
      &.OP {
        font-family: var(--op-bold);
      }
      &.YGO {
        font-family: var(--ygo-bold);
      }

      figure {
        display: flex;
        margin-top: 4em;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 100%;
        img {
          width: 50%;
          filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.8));
          &:hover {
            transform: scale(1.2);
            transition: var(--transitionCool);
          }
        }
        .old-product-price {
          width: 25%;
          font-size: large;
          color: var(--madder);
          text-decoration: line-through;
          text-align: center;
          text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3); 
          align-self: center;
          justify-content: center;
          font-family: var(--ygo-bold);
          padding: 1em;
          cursor: pointer;
          &:hover {
            transform: scale(1.2);
            transition: var(--transitionCool);
          }
        }
        .product-price {
          width: 25%;
          font-size: xx-large;
          font-weight: bold;
          color: var(--saffron); 
          text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3); 
          align-self: center;
          font-family: var(--ygo-bold);
          padding: 1em;
          cursor: pointer;
          &:hover {
            transform: scale(1.2);
            transition: var(--transitionCool);
          }
        }
      }
    }
    button {
      justify-content: end;
      align-self: flex-end;
      text-align: center;
      font-size: x-large;
      font-family: var(--ygo-bold);
      margin-top: 2em;
      padding: 1em;
      border: none;
      border-radius: 99px;
      background-color: var(--madder);
      color: var(--af-white);
      cursor: pointer;
      transition: var(--transitionCool);
      &:hover {
        box-shadow: 0px 1px 15px var(--af-white);
        transition: var(--transitionCool);
      }
    }
  }

  .newsletter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2em;
    margin: 2em;
    border: solid var(--af-white) 15px;
    width: 80%;
    background-color: var(--night);
    color: var(--madder);

    form {
      display: flex;
      flex-direction: column;
      background-color: var(--af-white);
      padding: 2em;
      border-radius: 25px;
      width: 60%;
      box-shadow: -5px 7px 10px rgba(255, 255, 255, 0.497); 
      padding-top: 5em;
      padding-bottom: 5em;
      text-align: center;
      label {
        font-size: xx-large;
        font-family: var(--ygo-bold);
      }
      input {
        font-size: x-large;
        font-family: var(--ygo-light);
        margin: 1em;
        padding: 0.5em;
        border-radius: 25px;
        transition: var(--transition);
        box-shadow: -5px 7px 10px rgba(0, 0, 0, 0.497);
        &:hover {
          box-shadow: -5px 7px 10px rgba(0, 0, 0, 0.8);
        }
        &:focus {
          outline: none;
        }
        &::placeholder {
          font-family: var(--ygo-light);
        }
      }
      button {
        align-self: center;
        text-align: center;
        width: 45%;
        font-size: xx-large;
        font-family: var(--ygo-bold);
        background-color: var(--night);
        color: var(--af-white);
        border: none;
        margin-top: 1em;
        padding: 1em;
        border-radius: 75px;
        cursor: pointer;
        transition: var(--transition);
        box-shadow: -5px 7px 10px rgba(0, 0, 0, 0.497);
        &:hover {
          box-shadow: -5px 20px 25px rgba(0, 0, 0, 0.5);
          cursor: pointer;
          background-color: var(--madder);
          transform: scale(1.1);
        }
        &:focus {
          outline: none;
        }
      }
    }
  }
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1em;
  width: 80%;
  .learn {
    display: flex;
    flex-direction: column;
    width: 33%;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 1em;
    a {
      text-decoration: none;
      justify-content: center;
      align-items: center;
    }
    .learnbutton {
      display: flex;
      width: 85%;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      padding: 0.25em;
      background-color: black;
      border-radius: 75px;
      p {
        color: var(--af-white);
        text-decoration: none;
        font-size: large;
        &:hover {
          color: var(--madder);
        }
      }
      img {
        width: 30%;
      }
      &:hover {
        background-color: var(--saffron);
        transform: scale(1.1);
        transition: var(--transitionCool);
        cursor: pointer;
      }
    }
  }
  .logofooter {
    display: flex;
    min-width: 33%;
    align-items: center;
    justify-content: center;
    a {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: 40%;
        align-self: center;
        display: inline;
      }
    }
  }
  #contact {
    display: flex;
    flex-direction: column;
    width: 33%;
    justify-content: center;
    p {
      margin: 0;
    }
  }
}
.hidden {
  display: none;
}
.social-media-footer {
  display: none;
}
.carousel-wrapper {
  display: none;
  overflow: hidden;
  width: 90%;
  margin: auto;
}

.carousel-wrapper * {
  box-sizing: border-box;
}

.carousel {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.carousel__photo {
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
  margin: auto;
  padding: 1rem 4rem;
  z-index: 100;
  transition: transform 0.5s, opacity 0.5s, z-index 0.5s;
}

.carousel__photo.initial,
.carousel__photo.active {
  opacity: 1;
  position: relative;
  z-index: 900;
}

.carousel__photo.prev,
.carousel__photo.next {
  z-index: 800;
}

.carousel__photo.prev {
  transform: translateX(-100%);
}

.carousel__photo.next {
  transform: translateX(100%);
}

.carousel__button--prev,
.carousel__button--next {
  position: absolute;
  top: 50%;
  width: 3rem;
  height: 3rem;
  background-color: #fff;
  transform: translateY(-50%);
  border-radius: 50%;
  cursor: pointer;
  z-index: 1001; 
  border: 1px solid black;
  transition:opacity 1s;
}

.carousel__button--prev {
  left: 0;
}

.carousel__button--next {
  right: 0;
}

.carousel__button--prev::after,
.carousel__button--next::after {
  content: " ";
  position: absolute;
  width: 10px;
  height: 10px;
  top: 50%;
  left: 54%;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  transform: translate(-50%, -50%) rotate(135deg);
}

.carousel__button--next::after {
  left: 47%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

@media (max-width: 600px) {
  * {
    padding: 0;
    margin: 0;
    width: 100%;
  }
  header {
    flex-direction: column;
    width: 100%;
    padding: 0;
    #header-spacer {
      display: none;
    }
    #logocont {
      width: 100%;
      a {
        img {
          width: 50%;
        }
      }
    }
    #socialmedia {
      display: none;
    }
  }
  .carousel-wrapper {
    display: block;
  }
  .set-animation {
    display: none;
  }
  main {
    width: 100%;
    padding: 0;
    margin: 0;
    .products {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 90%;
      flex-direction: column;
      margin: 0;
      margin-top: 5em;
      padding: 0em;
      gap: 2em;
      .product {
        width: 80%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1em;
        margin: 0;
        padding: 0.5em;
        figure {
          display: flex;
          flex-direction: column;
          margin: 0;
          img {
            margin-top: 2em;
            width: 75%;
            align-self: center;
          }
          .old-product-price {
            padding: 0;
            margin-top: 1em;
            width: 100%;
            font-size: xx-large;
          }
          .product-price {
            margin-top: 0.5em;
            padding: 0;
            text-align: center;
            width: 100%;
            font-size: 4em;
          }
        }
        button {
          margin: 0;
        }
      }
    }
    .newsletter {
      align-items: center;
      width: 70%;
      margin: 0;
      padding: 0;
      margin-top: 2em;
      padding-top: 2em;
      margin-bottom: 2em;
      padding-bottom: 2em;
      form {
        width: 60%;
        margin-bottom: 1em;
        input {
          width: 100%;
          margin: 0;
          margin-top: 1em;
          margin-bottom: 1em;
        }
        label {
          font-size: x-large;
        }
        button {
          width: 100%;
          margin: 0;
          font-size: x-large;
          margin-top: 1em;
          margin-bottom: 1em;
        }
      }
    }
  }

  footer {
    flex-direction: column;
    width: 100%;
    padding: 0;
    .footer-icon {
      display: none;
    }
    .learn,
    .contact {
      display: flex;
      width: 100%;
    }
    .contact {
      flex-direction: column;
      width: 100%;
      text-align: center;
      margin-top: 2em;
    }
    .footer-contact {
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
      justify-content: center;
      width: 100%;
      p {
        width: 100%;
        display: flex;
        flex-direction: column;
        span {
          width: 25%;
          align-self: center;
        }
      }
    }
    .social-media-footer {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-top: 2em;
      margin-bottom: 2em;
      text-align: center;
      flex-wrap: wrap;
      p {
        min-width: 50%;
        width: 50%;
        align-items: center;
        justify-content: center;
      }
      span {
        width: 25%;
      }
    }
  }
}
@media (min-width:601px) and (max-width: 1000px) {
  * {
    padding: 0;
    margin: 0;
    width: 100%;
  }
  header {
    flex-direction: column;
    width: 100%;
    padding: 0;
    #header-spacer {
      display: none;
    }
    #logocont {
      width: 100%;
      a {
        img {
          width: 25%;
        }
      }
    }
    #socialmedia {
      display: none;
    }
  }
  #carouselExampleIndicators {
    display: flex;
    width: 80%;
  }
  .set-animation {
    display: none;
  }
  main {
    padding: 0;
    .products {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 80%;
      flex-direction: column;
      margin: 0;
      margin-top: 5em;
      padding: 0.5em;
      gap: 5em;
      .product {
        width: 60%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1em;
        margin: 0;
        padding: 1em;
        figure {
          display: flex;
          flex-direction: column;
          margin: 0;
          img {
            margin-top: 2em;
            width: 75%;
            align-self: center;
          }
          .old-product-price {
            padding: 0;
            margin-top: 1em;
            width: 100%;
            font-size: xx-large;
          }
          .product-price {
            margin-top: 0.5em;
            padding: 0;
            text-align: center;
            width: 100%;
            font-size: 4em;
          }
        }
        button {
          margin: 0;
        }
      }
    }
    .newsletter {
      align-items: center;
      margin-top: 5em;
      margin-bottom: 5em;
      width: 80%;
      form {
        width: 100%;
        input {
          width: 100%;
          margin: 0;
          margin-top: 1em;
          margin-bottom: 1em;
        }
        label {
          font-size: x-large;
        }
        button {
          width: 100%;
          margin: 0;
          font-size: x-large;
          margin-top: 1em;
          margin-bottom: 1em;
        }
      }
    }
  }

  footer {
    flex-direction: column;
    width: 100%;
    padding: 0;
    .footer-icon {
      display: none;
    }
    .learn,
    .contact {
      display: flex;
      width: 100%;
    }
    .contact {
      flex-direction: column;
      width: 100%;
      text-align: center;
      margin-top: 2em;
    }
    .footer-contact {
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
      justify-content: center;
      width: 100%;
      p {
        width: 100%;
        display: flex;
        flex-direction: column;
        span {
          width: 25%;
          align-self: center;
        }
      }
    }
    .social-media-footer {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-top: 2em;
      margin-bottom: 2em;
      text-align: center;
      flex-wrap: wrap;
      p {
        min-width: 50%;
        width: 50%;
        align-items: center;
        justify-content: center;
      }
      span {
        width: 25%;
      }
    }
  }
}
@media (min-width: 1001px) and (max-width:1250px){
  .product{
    padding: 1em;
    margin: 0.5em;
  }
   }
