.container {
  font-family: var(--ygo-bold);
  margin-top: 3em;
  margin-bottom: 3em;
  background-color: var(--af-white);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  border: solid 25px var(--night);
}
.calendar {
  width: 80%;
  padding-top: 3em;
  padding-bottom: 3em;
  background-color: var(--af-white);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}
.calendar-header button {
  background-color: transparent;
  border: none;
  font-size: 1.5em;
  cursor: pointer;
}
#month-year {
  font-size: 1.2em;
  font-weight: bold;
}
.calendar-weekdays,
.calendar-dates {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}
.calendar-weekdays div,
.calendar-dates div {
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
  padding: 1em;
}
.calendar-weekdays {
  background-color: #eaeef3;
}
.calendar-weekdays div {
  font-weight: bold;
}
.calendar-dates div {
  border-bottom: 1px solid #eaeef3;
  cursor: pointer;
}
.calendar-dates div:hover {
  background-color: var(--sub-text);
}
