.container {
  font-family: var(--ygo-bold);
  margin-top: 3em;
  margin-bottom: 3em;
  background-color: var(--af-white);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  border: solid 25px var(--night);
}
.calendar {
  width: 80%;
  padding-top: 3em;
  padding-bottom: 3em;
  background-color: var(--af-white);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}
.calendar-header button {
  background-color: transparent;
  border: none;
  font-size: 1.5em;
  cursor: pointer;
}
#month-year {
  font-size: 1.2em;
  font-weight: bold;
}
.calendar-weekdays,
.calendar-dates {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}
.calendar-weekdays div,
.calendar-dates div {
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
  padding: 1em;
}
.calendar-weekdays {
  background-color: #eaeef3;
}
.calendar-weekdays div {
  font-weight: bold;
}
.calendar-dates div {
  border-bottom: 1px solid #eaeef3;
  cursor: pointer;
}
.calendar-dates div:hover {
  background-color: var(--sub-text);
}
.event {
  background-color: var(--sub-text);
  color: var(--af-white);
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
}
.popup-title {
  font-family: var(--ygo-bold) !important;
  font-size: 1.5em;
  color: var(--night);
  margin-bottom: 0.5em;
}
.mobile-calendar{
  display: none;
}
@media screen and (max-width: 600px) {
  .calendar{
    display: none;
  }
  .mobile-calendar{
    display: block;
    width: 100%;
    margin-top: 3em;
    margin-bottom: 3em;
    background-color: var(--af-white);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 1em;
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    cursor: pointer;
  }
  .mobile-event{
    display: flex;
    flex-direction: column;
    gap: 1em;
  }
  .mobile-event-content{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    margin-bottom: 2em;
    font-family: var(--ygo-bold);
  }
  .event-title{
    color: var(--madder);
  }
  .event-description{
    color: var(--night);
  }
  .event-date{
    color: var(--sub-text);
  }
}