.cart-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.cart-title {
  font-family: var(--ygo-bold);
  padding: 0.25em;
  border: solid 10px var(--night);
  margin: 0.25em;
  background-color: var(--af-white);
  color: var(--madder);
  text-align: center;
}
.cart-page-body {
  display: flex;
  width: 80%;
  background-color: var(--night);
  border: solid 25px var(--af-white);
  padding: 1em;
  margin: 5em;
}
.cart-body {
  width: 40%;
  div {
    margin-top: 2em;
  }
}
.total {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 25%;

  h2 {
    font-family: var(--ygo-bold);
    align-self: center;
    margin-top: 1em;
    color: var(--af-white);
  }
  button {
    margin-top: 1em;
    font-size: 1.2em;
    font-family: var(--ygo-bold);
    padding: 0.5em 1em;
    background-color: var(--madder);
    color: var(--af-white);
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    &:hover {
      background-color: var(--saffron);
      color: var(--night);
    }
    &:focus {
      outline: none;
    }
  }
}
.session {
  display: flex;

  margin-top: 2em;
  width: 100%;
  a {
    font-size: 1.2em;
    font-family: var(--ygo-bold);
    color: var(--madder);
    text-decoration: none;
    transition: color 0.3s ease-in-out;
    &:hover {
      color: var(--saffron);
    }
    &:focus {
      outline: none;
    }
  }
}
.cart-image {
  margin-top: 15em;
  width: 25%;
  img {
    width: 100%;
  }
}
.details {
  font-family: var(--ygo-bold);
  width: 100%;
  color: var(--af-white);
  display: flex;
  flex-direction: column;
}
label[for="card-element"] {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
  color: var(--af-white);
}
#card-element {
  border: 1px solid #ccc; /* A light border */
  border-radius: 4px;
  padding: 10px;
  width: 100%;
  background-color: #f9f9f9;
  transition: border 0.2s ease;
}

/* Styling the focus effect */
#card-element:focus {
  border-color: #5c9df5;
  outline: none;
}

/* Styling the error messages */
#card-errors {
  color: red;
  font-size: 14px;
  margin-top: 10px;
}

/* Optionally, add responsiveness */
@media (max-width: 768px) {
  #card-element {
    padding: 8px;
  }

  #card-errors {
    font-size: 12px;
  }
}
