.collection-container{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: space-between;
    color: aliceblue;
    .mtg{
        width: 15%;
    }
    .lorcana{
        width: 15%;
    }
    .yugioh{
        width: 15%;
    }
    .pokemon{
        width: 15%;
    }
    .onepiece{
        width: 15%;
    }
}