@font-face {
  font-family: "rajdhani-light";
  src: url(../assets/fonts/Rajdhani/Rajdhani-Light.ttf);
}
@font-face {
  font-family: "rajdhani-bold";
  src: url(../assets/fonts/Rajdhani/Rajdhani-Bold.ttf);
}

* {
  padding: 0;
  margin: 0;
}
body {
  background-image: url(/../assets/images/hieloglyphs3_c.webp);
}
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  background-color: #eec643;
  font-family: "rajdhani-bold";
  position: sticky;
  top: 0;
  z-index: 1000;
  #nav1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0.5em;
    #logo {
      width: 20%;
      img {
        width: 35%;
      }
    }
    #search {
      display: flex;
      justify-content: center;
      width: 50%;
      margin-left: 2em;
      background-color: white;
      border-radius: 99px;
      padding: 1em;
      border: #141414 1px solid;
      form {
        display: flex;
        width: 100%;
        align-items: center;
        input {
          border: none;
          width: 100%;
          outline: none;
          font-size: large;
        }
        input:placeholder-shown + button img {
          visibility: visible;
        }
        input::-webkit-search-cancel-button {
          -webkit-appearance: none;
          height: 16px;
          width: 16px;
          background: url("../images/icons/cancel-cross.svg") no-repeat center
            center;
          background-size: contain;
          position: relative;
          color: black;
        }
        button {
          width: 10%;
          background-color: transparent;
          border: none;

          img {
            width: 25%;
            background-color: transparent;
          }
        }
      }
    }
    #icons {
      width: 20%;
      display: flex;
      justify-content: end;
      a {
        width: 20%;
        align-items: center;
        img {
          width: 100%;
        }
      }
    }
    #menu {
      width: 10%;
      display: flex;
      justify-content: center;
      align-items: center;
      button {
        background-color: gray;
        border: none;
      }
      .offcanvas-body {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: center;
        div {
        }
      }
    }
  }
  #nav2 {
    display: flex;
    background-color: #141414;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding-top: 1em;
    padding-bottom: 1em;
    a {
      color: wheat;
      text-decoration: none;
      font-size: large;
      margin-left: 1em;
      margin-right: 1em;
      &:hover {
        color: #eec643;
      }
    }
  }
}
footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: wheat;
  background-color: #141414;
  border: solid #f5deb3 0.5px;
  font-family: "rajdhani-bold";
  p {
    color: rgb(184, 184, 184);
  }
  #first-row {
    display: flex;
    flex-direction: row;
    width: 100%;
    border: inherit;
    #socialmedia {
      display: flex;
      flex-direction: column;
      justify-content: flex-start; /* Changed from space-between to flex-start */
      width: 40%;
      border: inherit;
      padding: 2em;
      h4 {
        font-size: xx-large;
        margin-bottom: 1em; /* Add some space below the h4 */
      }
      div {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 0.5em;
        .icoholder {
          width: 5em;
          height: 5em;
          margin: 0 10px;
          display: flex;
          justify-content: center;
          align-items: center;
          img {
            max-width: 100%;
            max-height: 100%;
          }
        }
      }
    }
    #contact {
      display: flex;
      flex-direction: column;
      width: 60%;
      border: inherit;
      padding: 2em;
      h4 {
        font-size: xx-large;
      }
      p {
        font-size: large;
      }
    }
  }
  #second-row {
    width: 100%;
    border: inherit;
    display: flex;
    justify-content: center;
    ul {
      margin: 2em;
    }
    h4 {
      margin: 2em;
    }
    a {
      color: wheat;
      text-decoration: none;
      font-size: large;
      margin-left: 1em;
      margin-right: 1em;
      &:hover {
        color: #eec643;
      }
    }
  }
  #third-row {
    width: 100%;
    border: inherit;
    display: flex;
    justify-content: space-around;
    padding: 1em;
  }
}

/* Customize the previous button */
.carousel-control-prev {
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  &:hover {
    background-color: rgba(0, 0, 0, 0.7); /* Lighter background for hover */
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.5); /* Fainter black shadow for hover */
    transition: opacity 0.3s ease;
  }
}

/* Customize the next button */
.carousel-control-next {
  background-color: rgba(0, 0, 0, 0.5);
  &:hover {
    background-color: rgba(0, 0, 0, 0.7); /* Lighter background for hover */
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.5); /* Fainter black shadow for hover */
    transition: opacity 0.3s ease;
  }
}
.carousel-indicators button {
  width: 1em; /* Smaller size for inactive dots */
  height: 1em; /* Same height */
  border-radius: 50%; /* Keep the dots round */
  background-color: rgb(
    238,
    198,
    67,
    0.5
  ); /* Lighter, semi-transparent white for inactive dots */
  border: none; /* Remove default borders */
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3); /* Softer black shadow for inactive dots */
  transition: transform 0.3s ease, background-color 0.3s ease; /* Smooth transitions for size and color */
}

/* Style for active dot */
.carousel-indicators .active {
  width: 2em; /* Slightly larger size for active dot */
  height: 2em;
  background-color: black; /* Make the active dot solid black */
  background-color: rgb(238, 198, 67);
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.8); /* Stronger shadow for active dot */
}

/* Hover effect for both active and inactive dots */
.carousel-indicators button:hover {
  transform: scale(1.2); /* Slightly enlarge any dot when hovered */
}
