@font-face {
  font-family: "rajdhani-light";
  src: url(../assets/fonts/Rajdhani/Rajdhani-Light.ttf);
}
@font-face {
  font-family: "rajdhani-bold";
  src: url(../assets/fonts/Rajdhani/Rajdhani-Bold.ttf);
}
@font-face {
  font-family: "planeswalker-bold";
  src: url(../assets/fonts/planewalker/Planewalker\ Bold.otf);
}
@font-face {
  font-family: "planeswalker-light";
  src: url(../assets/fonts/planewalker/Planewalker.otf);
}
@font-face {
  font-family: "beleren-bold";
  src: url(../assets/fonts/Beleren-Bold.ttf);
}
@font-face {
  font-family: "flexo-bold";
  src: url(../assets/fonts/Flexo-Demi/Flexo-Demi.ttf);
}
@font-face {
  font-family: "flexo-light";
  src: url(../assets/fonts/Flexo-Light/Flexo-Light.ttf);
}
@font-face {
  font-family: "akaPosse";
  src: url(../assets/fonts/akaPosse/akaPosse.ttf);
}
@font-face {
  font-family: "roboto-light";
  src: url(../assets/fonts/Roboto/Roboto-Light.ttf);
}
@font-face {
  font-family: "roboto-bold";
  src: url(../assets/fonts/Roboto/Roboto-Bold.ttf);
}
:root {
  --saffron: #eec643;
  --night: #141414;
  --af-white: #eef0f2;
  --madder: #a41623;
  --sub-text: #b8b8b8;

  --magic-bold: "planeswalker-bold";
  --magic-light: "planeswalker-light";
  --magic-card: "beleren-bold";
  --ygo-light: "rajdhani-light";
  --ygo-bold: "rajdhani-bold";
  --pok-light: "flexo-light";
  --pok-bold: "flexo-bold";
  --lor: "akaPosse";
  --op-bold: "roboto-bold";
  --op-light: "roboto-light";

  --transitionCool: transform 0.3s ease-in-out;
}
* {
  padding: 0;
  margin: 0;
}
body {
  background-image: url(/../assets/images/hieloglyphs3_c.webp);
}
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  background-color: var(--saffron);
  font-family: "rajdhani-bold";
  position: sticky;
  top: 0;
  z-index: 1000;
  #nav1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0.5em;
    #logo {
      width: 20%;
      img {
        width: 35%;
      }
    }
    #search {
      display: flex;
      justify-content: center;
      width: 50%;
      margin-left: 2em;
      background-color: white;
      border-radius: 99px;
      padding: 1em;
      border: var(--night) 1px solid;
      form {
        display: flex;
        width: 100%;
        align-items: center;
        input {
          border: none;
          width: 100%;
          outline: none;
          font-size: large;
        }
        input:placeholder-shown + button img {
          visibility: visible;
        }
        input::-webkit-search-cancel-button {
          -webkit-appearance: none;
          height: 16px;
          width: 16px;
          background: url("../images/icons/cancel-cross.svg") no-repeat center
            center;
          background-size: contain;
          position: relative;
          color: black;
        }
        button {
          width: 10%;
          background-color: transparent;
          border: none;

          img {
            width: 25%;
            background-color: transparent;
          }
        }
      }
    }
    #icons {
      width: 20%;
      display: flex;
      justify-content: end;
      a {
        width: 20%;
        align-items: center;
        img {
          width: 100%;
        }
      }
    }
    #menu {
      width: 10%;
      display: flex;
      justify-content: center;
      align-items: center;
      .offcanvas-header {
        background-color: var(--saffron);
        padding: 2em;
      }
      button {
        background-color: gray;
        border: none;
      }
      .offcanvas-body {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: center;
        background-color: var(--night);
        div {
          width: 80%;
          margin: 0.15em;
        }
      }
    }
  }
  #nav2 {
    display: flex;
    background-color: #141414;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding-top: 1em;
    padding-bottom: 1em;
    color: wheat;

    .btn-group {
      align-items: center;
      button {
        background-color: transparent;
        color: wheat;
        border-color: transparent;
        outline: none;
        box-shadow: none;
      }
      .visually-hidden {
        outline: var(--saffron);
        box-shadow: var(--saffron);
      }
      .dropdown-divider {
        color: var(--saffron);
        border-bottom: 4px solid var(--saffron);
      }
    }

    a {
      color: wheat;
      text-decoration: none;
      font-size: large;
      &:hover {
        background-color: var(--night);
        color: var(--saffron);
      }
    }
    .dropdown-menu {
      background-color: var(--night);
    }
  }
}
i{
  font-size: 1.5em;
  color: var(--night);
  &:hover {
    color: var(--saffron);
  }
}

footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: wheat;
  background-color: var(--night);
  border: solid wheat 0.5px;
  font-family: "rajdhani-bold";
  p {
    color: var(--sub-text);
  }
  #first-row {
    display: flex;
    flex-direction: row;
    width: 100%;
    border: inherit;
    #socialmedia {
      display: flex;
      flex-direction: column;
      justify-content: flex-start; /* Changed from space-between to flex-start */
      width: 40%;
      border: inherit;
      padding: 2em;
      h4 {
        font-size: xx-large;
        margin-bottom: 1em; /* Add some space below the h4 */
      }
      div {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 0.5em;
        .icoholder {
          width: 5em;
          height: 5em;
          margin: 0 10px;
          display: flex;
          justify-content: center;
          align-items: center;
          img {
            max-width: 100%;
            max-height: 100%;
            &:hover{
              transform: scale(1.5);
              cursor: pointer;
              transition: var(--transitionCool);
            }
          }
        }
      }
    }
    #contact {
      display: flex;
      flex-direction: column;
      width: 60%;
      border: inherit;
      padding: 2em;
      h4 {
        font-size: xx-large;
      }
      p {
        font-size: large;
      }
    }
  }
  #second-row {
    width: 100%;
    border: inherit;
    display: flex;
    justify-content: center;
    ul {
      margin: 2em;
    }
    h4 {
      margin: 2em;
    }
    a {
      color: wheat;
      text-decoration: none;
      font-size: large;
      margin-left: 1em;
      margin-right: 1em;
      &:hover {
        color: var(--saffron);
      }
    }
    .footer-column {
      width: 25%;
      display: flex;
      flex-direction: column;
    }
    .footer-column-1 {
      display: flex;
      flex-direction: column;
      width: 30%;
      text-align: center;
    }
  }
  #third-row {
    width: 100%;
    border: inherit;
    display: flex;
    justify-content: space-around;
    padding: 1em;
  }
}

.set-animation {
  margin-top: 2em;
  margin-bottom: 2em;
  min-width: 80%;
  justify-content: center;
  display: flex;
  width: 600px;
  height: 430px;

  .clickableimage {
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: 0.8;
    transition: 0.5s ease;
    &:hover {
      cursor: pointer;
      width: 300px;
      opacity: 1;
      filter: contrast(120%);
    }
  }
}

/* Customize the previous button */
.carousel-control-prev {
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  &:hover {
    background-color: rgba(0, 0, 0, 0.7); /* Lighter background for hover */
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.5); /* Fainter black shadow for hover */
    transition: opacity 0.3s ease;
  }
}

/* Customize the next button */
.carousel-control-next {
  background-color: rgba(0, 0, 0, 0.5);
  &:hover {
    background-color: rgba(0, 0, 0, 0.7); /* Lighter background for hover */
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.5); /* Fainter black shadow for hover */
    transition: opacity 0.3s ease;
  }
}
.carousel-indicators button {
  width: 1em; /* Smaller size for inactive dots */
  height: 1em; /* Same height */
  border-radius: 50%; /* Keep the dots round */
  background-color: rgb(
    238,
    198,
    67,
    0.5
  ); /* Lighter, semi-transparent white for inactive dots */
  border: none; /* Remove default borders */
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3); /* Softer black shadow for inactive dots */
  transition: transform 0.3s ease, background-color 0.3s ease; /* Smooth transitions for size and color */
}

/* Style for active dot */
.carousel-indicators .active {
  width: 2em; /* Slightly larger size for active dot */
  height: 2em;
  background-color: black; /* Make the active dot solid black */
  background-color: rgb(238, 198, 67);
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.8); /* Stronger shadow for active dot */
}

/* Hover effect for both active and inactive dots */
.carousel-indicators button:hover {
  transform: scale(1.2); /* Slightly enlarge any dot when hovered */
}
.hidden {
  display: none;
}

.cart-body {
  display: flex;
  color: var(--af-white);
  flex-direction: column;
}
.cart-body:nth-child() {
  margin-top: 15em !important;
}
.learn {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  gap: 1em;
  margin: 7% 10% 10% 10%;
  a {
    text-decoration: none;
    justify-content: center;
    align-items: center;
  }
  .learnbutton {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 0.25em;
    background-color: black;
    border-radius: 15px;
    p {
      color: var(--af-white);
      text-decoration: none;
      font-size: large;
      &:hover {
        color: var(--madder);
      }
    }
    img {
      width: 25%;
    }
    &:hover {
      background-color: var(--saffron);
      transform: scale(1.015);
      transition: var(--transitionCool);
      cursor: pointer;
    }
  }
}
.btn-primary {
  background-color: var(--saffron);
  color: var(--night);
  border: none;
  &:hover {
    background-color: var(--night);
    color: var(--saffron);
  }
  &:active{
    background-color: var(--night);
    color: var(--saffron);
    transform: translateY(3px);
    transition: var(--transitionCool);
  }
  &:focus{
    outline: none;
  }
}


.btn-danger{
  color: var(--af-white);
  border: none;
  &:hover {
    color: var(--night);
  }
  &:active{
    color: var(--night);
    transform: translateY(3px);
    transition: var(--transitionCool);
    cursor: pointer;
    outline: none !important;
  }
  &:focus{
    outline: none !important;
  }
}
.card-container{
  position: relative;
  perspective: 1000px;

}
.card-front{
  background-image: url("reemplazar");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;

}
.card-back{
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transform: rotateY(180deg);
  background-image: url("reemplazar_idJuego");
}
&:hover .card-inner{
transform: rotateY(-180deg);
}
.cart-total-price{
  color: var(--af-white);
}
.buyButton{
  margin-top: 2em;
  background-color: transparent !important;
  color: transparent;
}
.buyButton-a{
  margin: 1em;
  background-color: var(--saffron);
  color: var(--night);
  text-decoration: none;
  padding: 1em;
  border-radius: 25px;
  border: none;
  &:hover {
    background-color: var(--night);
    color: var(--saffron);
    outline: 1px var(--af-white);
  }
  &:active{
    background-color: var(--night);
    color: var(--saffron);
    transform: translateY(3px);
    transition: var(--transitionCool);
    cursor: pointer;
    outline: none!important;
  }
  &:focus{
    outline: none!important;
  }
}
.cart-button{
  background-color: var(--saffron);
  color: var(--night);
  font-family: var(--ygo-bold);
  text-decoration: none;
  padding: 0.5em;
  border-radius: 25px;
  border: none;
  &:hover {
    background-color: var(--night);
    color: var(--saffron);
  }
 
}
.cart-button:active{
  background-color: var(--night);
  color: var(--saffron);
  transform: translateY(3px);
  transition: var(--transitionCool) !important;
  cursor: pointer;
  outline: solid var(--saffron) !important;
}
.cart-button:focus{
  outline: solid var(--saffron) !important;
}

/* Estilos de productos */



.secTitle {
  font-size: 2em;
  margin-bottom: 1em;
  font-family: var(--ygo-bold);
  color: var(--madder);
  text-align: center;
}
.product {
  
  min-width: 500px;
  min-height: 500px;

  width: 45%;
  margin: 1em;
  display: flex;
  background-color: var(--night);
  color: var(--af-white);
  border-radius: 25px;
  padding: 1em;
  box-shadow: -5px 7px 10px rgba(3, 3, 3, 0.497);

  &.POK {
    font-family: var(--pok-bold);
  }
  &.LOR {
    font-family: var(--lor);
    letter-spacing: 0.05em;
  }

  &.MTG {
    font-family: var(--magic-card);
  }
  &.OP {
    font-family: var(--op-bold);
  }
  &.YGO {
    font-family: var(--ygo-bold);
  }


}
.product figcaption {
  width: 60%;
}
.product figure {
  width: 40%;
}
.product figure img {
  width: 100%;
}

.productTitle {
  font-size: 1.5em;
  margin-bottom: 0.5em;
  color: var(--madder);
}
.expansion {
  font-size: 1em;
  margin-bottom: 0.5em;
  color: var(--af-white);
  cursor: pointer;
}
.productImage {
  width: 25%;
  filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.8));
  &:hover {
    transform: scale(1.1);
    transition: var(--transitionCool);
  }
}