@import url("global.css");

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.secTitle {
  width: 100%;
  text-align: center;
  margin-bottom: 0.5em;
}
.novedades {
  margin-top: 5em;
  padding: 2em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 90%;
  border: solid 15px var(--af-white);
  color: var(--af-white);
  background-color: var(--night) !important;
  flex-wrap: wrap;
}

.ofertas {
  margin-top: 5em;
  display: flex;
  padding: 2em;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 90%;
  padding: 2em;
  border: solid 15px var(--night);
  color: var(--night);
  background-color: var(--af-white) !important;
  flex-wrap: wrap;
}

.trend {
  margin-top: 5em;
  display: flex;
  padding: 2em;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 90%;
  border: solid 15px var(--af-white);
  color: var(--af-white);
  background-color: var(--night) !important;
  flex-wrap: wrap;
  margin-bottom: 2em;
}

.productButton {
  text-align: center;
  font-size: 1em;
  font-family: var(--ygo-bold);
  margin-top: 2em;
  padding: 1em;
  border: none;
  border-radius: 99px;
  background-color: var(--madder);
  color: var(--af-white);
  cursor: pointer;
  transition: var(--transitionCool);
  &:hover {
    box-shadow: 0px 1px 15px var(--af-white);
    transition: var(--transitionCool);
  }
}
.basketIcon {
  width: 25%;
}
#carouselExampleIndicators {
  height: 80vh; /* Adjust this value as needed */
}

.carousel-inner {
  height: 100%;
}

.carousel-item {
  height: 100%;
  text-align: center;
}

.carousel-item::before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.slider_image {
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
  display: inline-block;
  object-fit: contain;
}

/* Ensure controls are visible */
.carousel-control-prev,
.carousel-control-next {
  width: 5%;
  opacity: 0.7;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  padding: 10px;
}
.hidden {
  display: none;
}
.img-container {
  width: 25%;
  img {
    width: 25%;
  }
}
.product a {
  text-decoration: none;
}
.product h3 {
  &:hover {
    color: var(--madder);
    cursor: pointer;
    transition: var(--transitionCool);
    text-decoration: underline;
  }
}
