main {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  justify-content: center !important;
  width: 100%;
  padding: 2em;
}

h1,
h2,
h3,
strong {
  font-family: var(--magic-bold);
  color: var(--saffron);
}

.learn-p,
.learn-ul,
.learn-li {
  color: var(--sub-text);
  font-family: var(--magic-card);
  margin: 1em 0;
  text-align: justify;
}

a {
  color: var(--saffron);
  text-decoration: none;
  transition: color 0.3s ease;
}
.learn-mtg {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  background-color: var(--night);
  border: solid 25px var(--af-white);
  padding: 1em;
}

.card-example {
  width: 75%;
  display: flex;
  align-self: center;
  justify-content: center;
  margin: 1em 0;
}
.card-example img {
  width: 25%;
}
@media only screen and (max-width: 480px) {
  .learn-mtg{
    text-align: center;
    width: 95%;
    border: solid 15px var(--af-white);

  }
  ul{
    padding: 0;
  }
  ul li{
    list-style-type: none;
    
  }
  .video-tutorial{
    .video-container{
      width: 50%;
    }
  }
  .card-example{
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}