main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.product {
  width: 65%;
  padding: 3em;
  margin-top: 3em;
  margin-bottom: 3em;
  border: 25px solid var(--af-white);
  border-radius: 0px;
  text-align: center;

  display: flex;
  align-items: center;
  justify-content: space-between;

  .product-info {
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1em;
  }
  .attributes {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1em;
  }
  .product-pricing {
    width: 37%;
  }

  figure {
    width: 25%;
    margin: 0;
    padding: 0;
    filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.8));

    img {
      width: 100%;
    }
    &:hover {
      cursor: pointer;
      transition: var(--transitionCool);
      transform: scale(1.05);
    }
  }
  .product-title {
    color: var(--madder);
  }
  .product-set {
    color: var(--saffron);
    font-size: 1em !important;
  }
  .product-set {
    text-decoration: none;
    font-size: 1.5em;
  }
  .product-subtitle {
    color: var(--af-white);
    font-size: 1.3em;
  }
}
@media only screen and (max-width: 480px) {
  .product {
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 0;
    min-height: 0;
    width: 85%;
    padding: 2em;
    margin: 0;
    gap: 2em;
    margin-top: 3em;
    margin-bottom: 3em;
    border: solid 15px var(--af-white);
  }
  .product-info {
    order: 1 !important;
  }
  .productQuantity {
    max-width: 5em;
  }
  .attributes {
    flex-direction: column;
    gap: 0.25em !important;
  }
  .product-image {
    width: 80% !important;
    order: 0 !important;
    margin: 0;
    padding: 0;
    filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.8));
    img {
      width: 100%;
    }
  }
  .productPrice {
    font-size: 1em;
  }
  .product-subtitle {
    font-size: 0.8em !important;
  }
  .productTitle {
    font-size: 1.2em;
  }
  .product-set {
    font-size: 1em !important;
  }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .product {
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 0;
    min-height: 0;
    width: 85%;
    padding: 2em;
    margin: 0;
    gap: 2em;
    margin-top: 3em;
    margin-bottom: 3em;
    border: solid 15px var(--af-white);
  }
  .product-info {
    order: 1 !important;
  }
  .productQuantity {
    max-width: 5em;
  }
  .attributes {
    flex-direction: column;
    gap: 0.25em !important;
  }
  .product-image {
    width: 50% !important;
    order: 0 !important;
    margin: 0;
    padding: 0;
    filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.8));
    img {
      width: 100%;
    }
  }
  .productPrice {
    font-size: 1em;
  }
  .product-subtitle {
    font-size: 0.8em !important;
  }
  .productTitle {
    font-size: 1.2em;
  }
  .product-set {
    font-size: 1em !important;
  }
}
