main {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
#registration-form {
  font-size: 1.15em;
  gap: 0.5em;
  margin: 2em;
  color: var(--af-white);
  border: solid 15px var(--af-white);
  background-color: var(--night);
  width: 45%;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-family: var(--ygo-bold);
  input {
    width: 100%;
  }
  .form-checkboxes {
    display: flex;
    flex-direction: row;
    gap: 1em;
    input[type="checkbox"] {
      width: 5%;
    }
  }
  button {
    background-color: var(--saffron);
    color: var(--night);
    border: none;
    padding: 0.5em 1em;
    cursor: pointer;
    margin: 5% 0;
    transition: background-color 0.3s ease;
    &:hover {
      background-color: var(--night);
      color: var(--saffron);
    }
  }
}
